
<h2 id="list-title">Изменить ранг статьи</h2>
<ul class="list-group">
  <%= form_tag change_rank_posts_path, method: :post do %>
    <% @posts.each do |post| %>
      <li class="list-group-item justify-content-between">
        <%= post.title %>
        
        <span class="badge badge-default badge-pill">
          <%= select_tag post.id, (1..4) %>
        </span>
      </li>
    <% end %>
  
    <%= submit_tag 'Сохранить' %>
  <% end %>
</ul>
