// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  margin-top: 15px;
  margin-bottom: 40px;
}

.comment span {
  font-size: 0.8em;
}

.comment h3 {
  display: inline-block;
  min-height: 30px;
  padding: 2px 10px 2px 0px;
}

.comment p {
  padding-top: 10px;
}

.best-comment {
  margin: 50px 0px 70px 10px;
}
