body {
  font-family: 'Open Sans', Arial, Helvetica, Verdana, sans-serif !important;
  font-size: 18px;
  background: linear-gradient(to bottom, #f7f7f7, #efefef, #eaeaea, #e3e3e3, #d4d4d4);
  background-repeat: repeat-x;
  background-size: 100% 100%;
  padding: 0px;
  margin: 0px;
}

.top-menu {
  width: 100%;
  height: 44px;
  background-color: #eaeaea;
}

.top-menu-inside {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;

}

.catalog {
  background-color: #fd2;
  display: inline-block;
  height: 44px;

  span:first-child {
    padding-left: 20px;
  }

  span:last-child {
    padding-right: 20px;
  }

  span {
    background-color: inherit;
    font-weight: 500;
    font-size: 0.9em;
    padding-left: 30px;
    line-height: 44px;
  }
}

.page {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  min-width: 1024px;
}

.top-bar {
  height: 110px;
  background-color: #f4f4f4;
  line-height: 110px;
}

.logo {
  float: left;
  padding-left: 20px;
  height: 110px;
  width: 200px;

  a {
    margin-top: -5px;
    position: absolute;
    width: 180px;
  }
}

.search {
  width: 61.4%;
  height: 110px;
  min-width: 400px;
  float: left;
  padding-left: 74px;
  line-height: 110px;
}

.search-inside {
  line-height: 110px;

  input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  outline-offset: -2px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-image: url('i-search.svg');
  background-repeat: no-repeat;
  background-position: 12px 50%;
  }
}

.dropdown {
  padding-top: 30px;
  line-height: 20px;

}

.dropdown-toggle {
  font-size: 1.1em !important;
  text-decoration: none !important;
  color: black !important;
  line-height: 60px;
}

.dropdown-menu {
  line-height: 20px;
  top: 100%;
  left: -215px !important;
  .dropdown-item {
    font-weight: bold;
  }
}

.dropdown.show {
  margin-top: 0px !important;
}

.nickname {
  color: #fd2 !important;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #777777;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;

  input {
    height: 50px;
    width: 602px;
  }

  textarea {
    min-height: 200px;
    width: 602px;
  }
}

.download-image {
  display: table-cell;

  input {
    font-size: 1.3em;
    height: 50px;
    width: 602px;
  }
}

.table-cell-text {
  display: table-cell;

  textarea {
    min-height: 600px;
    width: 602px;
  }
}

.table-cell.name {
  vertical-align: top;
  width: 100px;
  font-weight: bolder;
  font-size: 0.9em;
}

.nav-link {
  font-size: 1.2em;
}

.btn-primary {
  margin-top: 4px;
  background-color: red;
}

ul.rank2 {
  text-align: justify;
  margin: 0px;
}

ul.rank2 li {
  overflow: hidden;
  width: 351px;
  height: 449px;
  display: inline-block;
  text-align: left;

  img {
  height: 449px;
  width: auto;
  }
}

ul.rank2 li.helper {
  width: 100%;
  height: 0;
  visibility: hidden;
}

ul.rank3 {
  text-align: justify;
  margin: 0px;
}

ul.rank3 li {
  overflow: hidden;
  width: 265px;
  height: 264px;
  display: inline-block;
  text-align: left;

  img {
  height: 265px;
  width: auto;
  }
}

ul.rank3 li.helper {
  width: 100%;
  height: 0;
  visibility: hidden;
}

.table-rank {
  width: 89%;
}

.table td, th {
  padding: 12px 0px !important;
}

.footer {
  height: 82px;
  margin-top: 15px;
  padding: 20px 0px 0px 20px;
  font-size: 0.8em;
  background-color: #3e4753;
  color: white;

  span {
    padding-right: 10px;
  }
}

#list-title {
  padding-left: 20px !important;
}

#list-head {
  padding-left: 20px !important;
}
