* {
  font-size: 16px;
}

#title-posts {
  margin: 95px 0px 75px 0px;
  font-size: 2.1em;
  color: #0275d8;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #777777;
}

.actions {
  font-size: 0.8em;
}

#discussion {
  margin: 60px 0px;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.table-cell.name {
  vertical-align: top;
  width: 60px;
  font-weight: bolder;
  font-size: 0.9em;
}

.like {
  display: inline-block;
}

.like span {
  color: red;
  font-size: 0.9em;
  margin-left: 100px;
}

.like-count {
  padding-left: 7px;
}

#date_comment {
  padding-left: 12px;
  color: #c3c5c9;
  display: inline-block;
}

.like-botton {
  margin-left: 15px;
  position: absolute;
  display: none;
  background-color: yellow;
}

.like-all:hover .like-botton {
  display: inline-block;
}

.nav-link {
  font-size: 1.2em;
}

.btn-primary {
  margin-top: 4px;
  background-color: red;
}

.carousel-item {
  a {
  display: block;
    img {
      max-height: 395px;
    }
  }
}

.carousel-item:hover {
  background-color: #51648e;
}

.carousel-item p {
  color: white;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 1.4em;
  padding: 10px;
}

.carousel-item span {
  color: white;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 0.8em;
  padding: 10px;
}

.button-form {
  margin-top: 5px;
}
