* {
  font-size: 16px;
}

#title-posts {
  margin: 95px 0px 75px 0px;
  font-size: 2.1em;
  color: #0275d8;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #777777;
}

.actions {
  font-size: 0.8em;
}

#discussion {
  margin: 50px 0px 30px 19px;
  font-variant: small-caps;
  font-weight: bolder;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.table-cell.name {
  vertical-align: top;
  width: 60px;
  font-weight: bolder;
  font-size: 0.9em;
}

.nav-link {
  font-size: 1.2em;
}

.btn-primary {
  margin-top: 4px;
  background-color: red;
}

.carousel-item {
  background-color: #51648e;
  a {
  display: block;
    img {
      max-height: 395px;
    }
  }
}

.carousel-item p, span {
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1.4em;
    padding: 10px;
  }
}

.carousel-item span {
  a {
    font-size: 0.9em;
  }
}

.button-form {
  margin-top: 5px;
}

.post-two {
  margin-top: 40px;
}

.block {
  margin: 5px;
  display: inline-block;
  img {
  width: 355px;
  height: 310px;
  }
}
