.list-first-column {
  width: 88%;
  text-align: left;
}

.list-second-column {
  text-align: center;
}

.table {
  width: 100%;

  input {
    margin: 0px auto;
  }
}

.table td, th {
  padding: 12px 12px;
  border-bottom: 1px solid #f1f1f1;
}

.table td:hover, td:hover + td {
  background-color: #f1f1f1;
}

#list_name_category {
  padding-left: 20px;
  color: yellow;
  font-size: 16px;
}
