.title-posts {
  font-family: Open Sans Condensed;
  padding: 10px 0px 10px 20px;
  letter-spacing: -1px;
  font-size: 35px;
  color: #333;
}

.line {
  height: 10px;
  border-top: 1px solid #e6e6e6;
  margin: 0px 20px;

}

.people {
  width: 100%;
  height: 530px;
  margin: 20px 0px;
}

.people1 {
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  width: 38.571%;
  height: 530px;
  padding-right: 20px;
  margin-left: 20px;
  border-right: 1px solid #e6e6e6;

  figure {
    width: 100%;
    height: 260px;
    background-color: #b5ccf2;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 260px;
  }

  article {
    padding-top: 20px;
  }
}

.people1-title {
  float: left;
  vertical-align: top;
  width: 45%;

  h3 {
    font-family: Open Sans Condensed;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.2;
    margin: 0px;
  }

  a {
    color: #004d99;
  }
}

.people1-group {
  margin-bottom: 10px;
  color: gray;
  font-size: 10px;
}

.people1-summary {
  float: right;
  vertical-align: top;
  width: 50%;
  font-size: 13px;
}

.people2 {
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  width: 18.571%;
  height: 530px;
  padding-right: 20px;
  margin-left: 20px;
  border-right: 1px solid #e6e6e6;

  figure {
    height: 131px;
    width: 100%;
    background-color: #e0efd0;
    overflow: hidden;
  }

  img {
    height: 131px;
    width: 100%;
  }

   a {
    color: #004d99;
  }
}

#people2-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-family: Open Sans Condensed;
  font-size: 21px;
  margin: 10px 0px;
}

.people2-summary {
  font-size: 13px;
}

.people3 {
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  width: 33.84%;
  height: 530px;
  margin-left: 20px;
  padding-right: 20px;

  ul {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
    height: inherit;

    li {
      width: 100%;
      height: 130px;
      padding-bottom: 20px;
      border-bottom: 1px solid #e6e6e6;
      margin-top: 20px;

      figure {
        width: 50%;
        height: 130px;
        float: left;
        margin-right: 10px;
        background-color: #b5ccf2;
        overflow: hidden;
      }

      img {
        width: 100%;
        height: 130px;
      }
    }

    li:first-child {
      margin-top: 0px;
    }

    li:last-child {
      border-bottom: none;
    }
  }
}

.people3-title {
  width: 42.5%;
  float: right;

  a {
    color: #004d99;
  }

  h4 {
    font-family: Open Sans Condensed;
    font-size: 17px;
    line-height: 21px;
    font-weight: 700;
    margin: 0px;
  }
}
