.text-post {
  margin: 0px 290px;
  padding: 10px 0px;
  font-size: 16px;
  line-height: 1.625;
}

.show h2 {
  margin: 30px 290px 23px 290px;
  min-height: 40px;
  font-size: 40px;
}

#show-image img {
  width: 1400px;
}

#show-image {
  text-align: center;
}

#new-post {
  margin-top: 40px;
}

.save-form_post {
  padding: 40px 10px;
}

.name {
  padding-right: 10px;
  font-size: 1.1em;
  font-weight: bold;
}

.top-news {
  width: 1400px;
  height: 449px;
}

.top-pages {
  float: left;
  width: 25%;
  overflow: hidden;
  height: 449px;
}

.top-pages-top {
  width: 349px;
  overflow: hidden;
  height: 298px;
  img {
  height: 298px;
  width: 100%;
  }
}

.top-pages-bottom {
  width: 349px;
  overflow: hidden;
  height: 149px;
  margin-top: 1px;
  img {
  height: auto;
  width: 100%;
  }
}

.dropdown-toggle {
  font-size: 1.1em !important;
  text-decoration: none !important;
  color: black !important;
  line-height: 45px;
}

.dropdown.show {
  margin-top: 0px !important;
}

.nickname {
  color: #fd2 !important;
}
