#registration {
  background-color: #fefeff;
  width: 400px;
}

.input {
  display: inline-block;
  float: right;
  height: 70px;
  text-align: left;
  margin-top: 25px;
}

.input-button {
  display: inline-block;
  float: right;
  margin-top: 5px;
  padding-right: 45px;
}

.user {
  display: inline-block;
  padding-right: 10px;
  img {
    border: 1px solid #ccc;
    border-radius: 60px;
    background-color: #ccc;
  }
}

.avatar {
  margin-right: 20px;
}

.user-name {
  display: inline-block;
  float: right;
  min-width: 60px;
}

.btn-outline-secondary {
  padding-left: 45px !important;
  padding-right: 45px !important;
  background-color: #fff !important;
  height: 40px !important;
}

.btn-outline-secondary:hover {
  color: gray !important;
}

.show-user {
  margin: 40px 0 0 30px;
}

.user-data {
  margin-top: 10px;
  margin-bottom: 10px;
}
