#registration {
  background-color: #fefeff;
  width: 400px;
}

.input {
  float: left;
  height: 70px;
  text-align: left;
}

.u-button {
  min-width: 60px;
  height: 110px;
}

.button-for-input {
  width: 135px;
  height: 40px;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  position: relative;
  top: 30%;
  a {
    line-height: 40px;
    color: #ccc !important;
    font-size: 16px;
    text-align: center;
    color:#41423c;
    text-decoration:none;
    display:block;
    position:relative;
  }
}

.user {
  display: inline-block;
  padding-right: 10px;
  img {
    vertical-align: middle;
    border-radius: 60px;
  }
}

.user-with-avatar {
  box-shadow: 0 0 0 1px white, 0 0 10px #333;
}

.avatar {
  margin-right: 20px;
}

.btn-outline-secondary {
  padding-left: 45px !important;
  padding-right: 45px !important;
  background-color: white !important;
  height: 40px !important;
}

.btn-outline-secondary:hover {
  color: gray !important;
}

.show-user {
  margin: 40px 0 0 30px;
}

.user-data {
  margin-top: 10px;
  margin-bottom: 10px;
}

.new-user {
  padding: 20px 0px 0px 20px;
}

.above-form-registr {
  font-size: 19px;
  a {
    text-decoration: none !important;
    color: black;
  }
}

.padding-to-sessions {
  margin-right: 20px;
}

.padding-to-input {
  padding: 0px 20px;
}

.input-selection {
  border: 1px solid #f1f1f1;
  border-radius: 6px;
  background-color: #f1f1f1;
  padding: 5px 20px;
}
