// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#registration {
  background-color: #fefeff;
  width: 400px;
}

.input {
  display: inline-block;
  float: right;
  height: 50px;
  width: 100px;
  text-align: left;
  margin-top: 8px;
}

.user-name {
  font-size: 1.1em;
  font-weight: lighter;
}

.input-or-output {
  line-height: 30px;
  font-size: 0.9em;
}
