var items=1;
function AddItem() {
  div=document.getElementById("items");
  button=document.getElementById("add");
  items++;
  newitem="<strong>Поле " + items + ": </strong>";
  newitem+="<input type=\"text\" name=\"item" + items;
  newitem+="\" size=\"45\"><br>";
  newnode=document.createElement("span");
  newnode.innerHTML=newitem;
  div.insertBefore(newnode,button);
}


<form name="form1">
  <div id="items">
    <strong>Поле 1: </strong><input type="text" name="item1" size="45"><br>
    <input type="button" value="Добавить поле" onClick="AddItem();" id="add">
  </div>
</form>
