<%= form_tag change_priority_categories_path do %>
  <table class="table">
    <thead>
      <tr>
        <th class="list-first-column">Название категории</th>
        <th class="list-second-column">Приоритет категории</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td scope="row" class="list-first-column">
            <%= category.name %>
          </td>
          <td class="list-second-column">
            <%= select_tag category.id, options_for_select([1, 2, 3, 4], category.priority) %>
          </td>
        </tr>
      <% end %>
        <tr>
          <td></td>
          <td>
            <%= submit_tag 'Сохранить', class: "button-exp" %>
          </td>
        </tr>
    </tbody>
  </table>
<% end %>
